@import url(https://fonts.googleapis.com/css?family=Oleo+Script|Open+Sans:300,400italic,800italic,400,800);
body {
    background-color: #ededed;
    color: #444444;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

header {
    margin-top: 32px;
    padding: 32px;
}

nav {
    display: flex;
    justify-content: space-between;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
.nav-subcontainer {
    display: flex;
    align-items: center;
}
li a {
    font-weight: 800;
    padding: 9.6px;
    text-decoration: none;
    margin: 0 8px;
    border-radius: 10px;
    color: inherit;
}
li a:hover {
    background-color: #ffffff;
}
h1, h2 {
    font-size: 48px;
    margin: 0;
}
h1 {
    margin-bottom: 14px;
}
h2 {
    font-weight: 300;
}
h3 {
    font-size: 16px;
    font-weight: 800;
    margin: 0;
}
p {
    font-weight: 300;
    line-height: 28px;
    margin-bottom: 0;
}
img {
    width: 100%;
    height: 100%;
}
button {
    width: 100%;
    border: none;
    font-family: inherit;
    font-size: 36px;
    font-weight: 800;
    text-align: left;
    padding: 18px;
    margin: 7.2px 0;
    border-radius: 10px;
    color: #ffffff;
    background-color: #0090C5;
    cursor: pointer;
}
.secondary-colors {
    color: #696969;
    background-color: #f1f1f1;
}
.container {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 32px;
}
#nav-logo {
    font-family: 'Oleo Script', serif;
    font-size: 48px;
    line-height: 48px;
    color: #ffffff;
    background-color: #ff4486;
    text-decoration: none;
    padding: 12px;
    border-radius: 10px;
}
#nav-logo-companion {
    font-weight: 800;
    margin-left: 32px;
}
#nav-first-a {
    color: #ffffff;
    background-color: #444444;
}
.box-shadow {
    box-shadow: 0px 6px 0px -3px rgba(0,0,0,0.1);
}
#hero-container {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 64px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
#hero-text-container {
    width: 60%;
}
#hero-button-container {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#cards-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card {
    width: 360px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #ffffff;
}
.card-img-container {
    width: 100%;
    height: 300px;
}
.card-text-container {
    padding: 24px;
}
#footer-container {
    padding: 32;
    background-color: #26272B;
    font-size:15px;
    line-height:24px;
    color:#737373;
    display: flex;
    flex-direction: column;
   align-items: center;
}
#content-container {
    display: flex; 
    justify-content: center;
    width: 70%;
}
#about-column {
    width: 50%;
    height: 100%;
    margin-right: 32px;
}
.list-column {
    width: 25%;
}
#copyright {
    padding-top: 16px;
    margin-top: 24px;
    border-top: 1px solid #737373;
    display: flex;
    width: 70%;
    justify-content: space-between;
}
.social-media-icon {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #33353D;
    padding: 8px;
    box-sizing: border-box;
    margin-right: 8px;
}
#social-media-list {
    list-style-type: none;
    display: flex;
}
.list {
    list-style-type: none;
    padding-left: 0px;
}
.title {
    color: white;
    font-weight: 100;
}

#position {
    position: relative; 
    width: 600px;
    height: 600px;
    background-color: red;
}

#contenedor-hijo {
    width: 200px;
    height: 200px;
    background-color: yellow;
    position: absolute;
    bottom: 45%;
    right: 12px;
}